html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* Fondo general de la heladería */
body {
    background-color: #fffaf0; /* Un tono crema suave, tipo vainilla */
    color: #333333;
}
body {
    background-color: #B2FFFF; /* Azul hielo / celeste muy suave */
    color: #333333;
}